* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    color: aliceblue;
    font-size: 30px;
    height: 100%;
    background: url(../img/KOSMOS.jpg) no-repeat center / cover
}

.header {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.anakin {
    position: relative;
    margin-top: 20px;
    margin-bottom: 30px;
    margin-left: 25px;
    margin-right: 25px;
}

.anakinCl {
    position: absolute;
    top: 100px;
    left: 100px; 
    width: 216px;
    height: 300px;
    background-image: url(../img/an.png);
}

.timer {
    display: flex;
    justify-content: space-around;
    color: aliceblue;
    font-size: 50px;
}

.yoda {
    width: 180px;
    height: 85px;
    background-image: url(../img/yoda.png);
}